.scaffold {
  padding-top: 300px;
  background-color: black;
  position: relative;
  .contactBG {
    width: 100vw;
    height: 80vh;
    background-image: url("../../../assets/PP.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 150px 150px 0 0;
    filter: grayscale(100%);
    transition: all 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    color: white;

    .itallic {
      font-family: "serif";
      font-style: italic;
      font-weight: 200;
      margin-left: 30px;
    }
    .arrow {
      width: 200px;
      margin-left: 50px;
      fill: white;
      margin-top: 50px;
      transform: rotate(315deg);
      transition: all 0.3s ease;
    }
    .hoverable {
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        .arrow {
          transform: rotate(360deg);
          transition: all 0.3s ease;
        }
      }
    }

    &:hover {
      filter: grayscale(0%);
      transition: all 0.5s ease;
    }
  }
  @media (orientation: portrait) {
    .contactBG {
      border-radius: 50px 50px 0 0;
      font-size: 120px;
      .hoverable {
        flex-direction: column;
      }
      .arrow {
        width: 120px;
        margin-top: 0;
        margin-left: 20px;
        margin-top: 10px;
      }
      .itallic {
        margin-left: 0px;
      }
    }
  }
}

.darkBg {
  position: absolute;
  top: 300px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.738);
  padding: 100px;
  padding-left: 200px;
  color: white;
  display: flex;
  transition: all 0.5 ease;

  .linkPanel {
    margin: auto;
    margin-bottom: 50px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  h1 {
    font-size: 75px;
    font-weight: 200;
  }
  input,
  textarea {
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 200;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 300px;
    max-width: 700px;
    flex-grow: 1;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 40px;
  }

  @media (max-width: 1250px) {
    h1 {
      font-size: 40px;
    }
    input,
    textarea {
      font-size: 18px !important;
      padding: 10px;
      width: 420px;
    }
    .contactForm {
      width: 450px;
    }
    .linkPanel {
      margin-left: auto;
    }
  }

  @media (orientation: portrait) {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;

    .contactForm {
      width: 100%;
      gap: 20px;
    }
    input,
    textarea {
      width: auto !important;
    }
    textarea {
      flex-grow: auto;
    }
    .contactForm {
      gap: 20px;
    }
    .linkPanel {
      gap: 30px;
      margin-top: 30px;
    }
  }
}

.darkBg input::placeholder,
.darkBg textarea::placeholder {
  font-family: "Hanken Grotesk";
  font-weight: 100 !important;
}

.error {
  font-size: 28px;
  font-weight: 200;
}
.successMessage {
  font-size: 28px;
  font-weight: 200;
  display: flex;
  align-items: baseline;
  fill: white;
  width: 300px;
  text-wrap: nowrap;
  svg {
    height: 50px;
    margin-left: 20px;
    transform: translate(0, 3px);
  }
}
